*{
    box-sizing: border-box;
}

body {
    background-image: url("../img/background1.png");
    background-color: #ffffff;
    background-repeat: 0;
    margin: 20px 0;
    font-family: 'roboto', sans-serif;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}
header {
    padding: 50px;
    overflow: hidden;

}
nav {
    float:right;
    text-align: centeR;
    margin: 20px 0 0;

}
header > #logo {
    font-size: 2em;
    float: lefT;
}

main{
    padding: 50px;
    overflow: hidden;
}

section {
    float: left;
    width: 70%;
}
h2, h3{
    margin: 0;
}
article{
    padding: 30px 2px;
    border-bottom: 1px solid #cccccc;

}
article:last-child{
    border-bottom: 0px;
}
aside{
    float:right;
    width: 30%;
    background-image: url("../img/asidebg1.jpg");
    padding: 10px;
    color: white;
    border-radius: 10px;
}
aside a{
    color: #cccccc;
    padding: 2px;
    display: block;
}
h3 {
    font-style: italic;
    text-align: center;

}
footer {
    padding: 20px;
    border-top: 1px solid #cccccc;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    display: inline;
}
a:hover {
    color: hotpink;
}
a:active {
    color: red;
}
.container {
    display: inline-block;
}
textarea {
    width: 300px;
}
